[Unit]
Description=Pryzm Feeder Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/pryzmfeeder
ExecStart=/usr/bin/docker run --name=pryzm-feeder --network host --restart=always -v "/root/feeder/config.yaml:/app/config.yaml" -v "/root/feeder/logs:/app/logs" --pull=always europe-docker.pkg.dev/pryzm-zone/core/pryzm-feeder:0.3.4
Restart=always

[Install]
WantedBy=multi-user.target

